@import "@fontsource/inter";

:root {
  --content-width: 100%;
  --page-x-padding: 1.5rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6c79a8;
}

.container {
  width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--page-x-padding);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
