name: Update GitHub Data

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update-gh-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install node dependencies
        run: npm install

      - name: Check formatting
        run: npm run format-check

      - name: Update GitHub data
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: npm run update-gh-data

      - name: Update formatting
        run: npm run lint

      - name: Configure Git
        run: |
          git config --global --add safe.directory /__w/shuklabhay.github.io/shuklabhay.github.io
          git config --global user.name "shuklabhay/portfolio"
          git config --global user.email "portfolio[bot]@shuklabhay.github.io"

      - name: Commit changes to ghdata.json
        run: |
          git add public/sitedata/ghdata.json
          git pull
          git commit -m 'Update GitHub data' || true
          git push

      - name: Redeploy page
        run: |
          curl -X POST \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/shuklabhay/shuklabhay.github.io/dispatches \
          -d '{"event_type": "deploy-github-page"}'
